@font-face {
    font-family: "roboto";
    src: url("./fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "roboto";
    src: url("./fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "roboto";
    src: url("./fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "roboto";
    src: url("./fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body, html { 
    margin: 0; 
    padding: 0;
    height: 1920px;
    min-height: 1920px;
    width: 1080px;
    min-width: 1080px;
    background-image: url('./img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #049D4C;
    font-family: "roboto";
    overflow: hidden;
}
.wrapper {
    height: 1920px;
    min-height: 1920px;
    max-height: 1920px;
    width: 1080px;
    min-width: 1080px;
    max-width: 1080px;
    overflow: hidden;
    position: relative;
}
.index-wrapper { 
    background-image: url('./img/bubble.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.consent-form { 
    padding: 0 90px;
    margin-top: -60px;
}
.consent-form img{ 
   width: 100%;
}
.consent-buttons { 
    margin-top: -300px;
    padding: 0 140px;
    display: flex;
}
.consent-buttons a{  
    flex: 1;
    width: calc(50% - 10px);
    margin: 0 10px;
}
.consent-buttons img{ 
    width: 100%;
}

.select-buttons-wrap { 
    display: flex;
    flex-wrap: wrap;
    padding: 0 90px;
}

.select-buttons-wrap a{ 
    width: 50%;
    padding: 30px 0;
    text-align: center;
}
.select-buttons-wrap img{ 
    width: 90%;
    margin: 0 auto;
}
.count-down { 
    text-align: center;
}
.webcam-container { 
    text-align: center;
    padding: 100px 80px 0;
}
.webcam-container video{    
    width: 100%;
    height: 550px;
}
.emoji { 
    text-align: center;
    min-height: 400px;
}
.clock { 
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 304px;
    height: 286px;
    background-image: url('./img/2.Text/014.png');
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clock .timer { 
    font-size: 120px;
    font-weight: 900;
    margin-top: 100px;
    margin-left: 18px;
}

.model { 
    position: absolute;
    bottom: 0px;
    left: 90px;
    width: 800px;
}

.bubble-1 {
    position: absolute;
    right: -870px;
    top: 500px;
}
.bubble-2 {
    position: absolute;
    left: -750px;
    bottom: -320px;
}

.soap-1 { 
    position: absolute;
    width: 445px;
    left: 0;
    top: 720px;
}
.soap-2 { 
    position: absolute;
    width: 355px;
    left: 740px;
    top: 840px;
}
.soap-3 { 
    position: absolute;
    width: 400px;
    left: 690px;
    bottom: 110px;
}